* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* CUSTOM STYLES */

.tile-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  padding: 1rem;
}

.tile__arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #000;
  position: absolute;
  left: calc(50% - 20px);
  bottom: -20px;
  display: none;
}

.tile {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.tile-section {
  height: 320px;
  flex-basis: 320px;
  max-width: 320px;
  background-color: #000;
  margin: 1rem;
  flex-grow: 1;
}

.tile:hover {
  cursor: pointer;
}


.tile__hover-overlay {
  opacity: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .67);
  transition: opacity 1s;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile:hover .tile__hover-overlay {
  opacity: 1;
}

.tile-section .tile__dropdown {
  display: none;
}

.tile-section.tile-section--active-tile {
  margin-bottom: 570px;
}

.tile-section.tile-section--active-tile .tile__arrow-down {
  display: block;
}

.tile-section.tile-section--active-tile .tile__dropdown {
  display: flex;
  justify-content: center;
  min-height: 545px;
  background: #eee;
  position: absolute;
  left: 16px;
  right: 16px;
  margin-top: 20px;
  padding: 1rem;
}

.tile-section p {
  margin: 0;
}

.tile h3 {
  color: #fff;
  margin: 0;
}

.tile__dropdown .tile_dropdown-child {
  flex-basis: calc(50% - 20px);
}

.tile__dropdown .tile_dropdown-child img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile_dropdown-child--text {
  padding: 1rem;
}

.tile_dropdown-child--text {
  display: flex;
  flex-direction: column;
}

.tile_dropdown-child--cta,
.single-post__cta {
  margin-top: auto;
  background-color: cornflowerblue;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  align-self: center;
  padding: 15px 30px;
  text-decoration: none;
}

.tile_dropdown-child--image {
  max-height: 510px;
  overflow: hidden;
}

.tile-load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.tile-load-more {
  background-color: cornflowerblue;
  color: #fff;
  border: 0;
  padding: 15px 30px;
  font-size: 1rem;
  transition: all .4s;
}

.tile-load-more:hover {
  cursor: pointer;
  background-color: #3068cc;

}

.single-post__cta-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}


.form-group label {
  display: block;
  text-align: left;
}

form {
  max-width: 700px !important;
  margin: 1rem auto;
}

form textarea {
  width: 100%;
  height: 150px;
}

.form-group input {
  width: 100% !important;
  padding: 10px 20px;
}

.post-added-success,
.post-added-fail {
  background: #30ca30;
  color: #fff;
  padding: 10px;
}

.post-added-fail {
  background: red;
}

@media screen and (max-width:1024px) {
  .tile__dropdown {
    flex-direction: column;
  }
}